<section id="fallback-placement">
  <h5 class="display-5">fallbackPlacement</h5>

  <p>
    <code>fallbackPlacement?: string|any[] = 'flip'</code>
  </p>

  <p class="doc-callout warning">
    Neither the <a href="https://getbootstrap.com/docs/4.0/components/popovers#options" target="bsdocs">Bootstrap</a>
    nor the <a href="https://popper.js.org/popper-documentation.html#modifiers..flip.behavior" target="popperdocs">Popper.js</a>
    documentation for this option is particularly illuminating.
  </p>
  <nzb-tabs [uniqueId]="baseId + '-tabs'">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <app-popover-fallback-placement-demo></app-popover-fallback-placement-demo>
        </div>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-fallback-placement-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>

</section>
