/* You can add global styles to this file, and also import other style files */

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../node_modules/font-awesome/scss/variables";

.row.example{
  margin-top: 1em;
  margin-bottom: 1em;
}
.danger .tooltip-inner {
  background-color: $brand-danger;
}
a[role="button"] {
  cursor: pointer;

}
a[role="button"]:hover {
  text-decoration:underline;
}

.popover.popover-danger{
  .popover-header {
    background-color: $brand-danger;
    color: #FFF;
  }
}

.permalinked {
  display:flex;
  align-items: center;
}

.permalinked a {
  color: $gray-lighter;
  display: block;
  margin-left: .5em;
  font-size: .8em;
}

.permalinked:hover a,  .permalinked a:hover, .permalinked a:active {
  color: $gray-light;
}

.permalinked a:hover, .permalinked a:active {
  color: $gray;
}

.popover.danger .popover-header {
    color: #FFF;
    background-color: $brand-danger;
}
.doc-callout {
  border-left-width: 6px;
  border-left-style: solid;
  padding: 6px 0 6px 16px;
  &.warning {
    border-left-color: $brand-warning;
  }
  &.danger {
    border-left-color: $brand-danger;
  }
  &.success {
    border-left-color: $brand-success;
  }
  &.primary {
    border-left-color: $brand-primary;
  }
  &.info {
    border-left-color: $brand-info;
  }

}

a.external,  a.external:hover{
  position: relative;
  padding-right: .6em;
  &:after {
    display: block;
    position: absolute;
    font-family: fontawesome;
    font-size: .5em;
    color: $gray;
    text-decoration: none !important;
    content: $fa-var-external-link;
    top: 0;
    right: 0;
  }
}
section {
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px dashed $gray-light;
  &:last-child{
    border-bottom: none;
  }
  section {
    border-bottom: 1px solid $gray-lighter;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}



.modal {
  .show-if-modal-focused{
    display: none;
  }
  .show-if-modal-not-focused{
    display: block;
  }
  &:focus {
    .show-if-modal-focused{
      display: block;
    }
    .show-if-modal-not-focused{
      display: none;
    }
  }
}

.nzb-demo-tab-content{
  margin: 1em 1em 3em 1em;
}

.text-column {

  @include media-breakpoint-up(lg){
    margin-right: 25%;
  }
  @include media-breakpoint-up(xl){
    margin-right: 35%;
  }
  // @include media-breakpoint-up(lg){
  //   margin-left: 6rem;
  //   margin-right: 6rem;
  // }
  // @include media-breakpoint-up(xl){
  //   margin-left: 12rem;
  //   margin-right: 12rem;
  // }
}

code-highlight {
  display: block;
  background: #FAFAFA;
  padding: 6px;
  border-radius: 6px;
  margin: 1em 0;
  .code-highlight.hljs{
    white-space: pre;
    font-family: $font-family-monospace;
    font-size: .875em;
  }
  &.inline {
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: inline;
    .code-highlight.hljs{
      white-space: pre-wrap;
      display: inline;
    }
  }
}

.demo-blank {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 0;
  overflow: scroll;
  z-index: $zindex-modal -1;
  background-color: #FFF;
}
