<section id="title">
  <h3 class="display-6"><code>nzbPopoverTitle: TemplateRef</code></h3>
  <p>
    Optional. Use <code>[nzbPopoverTitle]="myTemplate"</code> with
    <code>&lt;ng-template #myTemplate&gt;...&lt;ng-template #myTemplate&gt;</code>
    if you want to take advantage of variable interpolation and the directive api
    in the popover title.
  </p>
  <p class="doc-callout info">
    If you don't need those things, just use the <code>title</code> or
    <code>data-title</code> attribute.
  </p>
  <p class="doc-callout warning">
    Using <code>nzbPopoverTitle</code> will automatically set
    the <code>html</code> property of the entire popover to <code>true</code>.
  </p>
  <p class="doc-callout warning">
    The <code>title</code> and <code>data-title</code> attributes
    will always override <code>nzbPopoverTitle</code>.
    Omit these attributes if you are using a template.
  </p>
  <nzb-tabs uniqueId="popover-title-tabs">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Full Code</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" nzbTab="ts">Typescript</a>
          <a class="dropdown-item" nzbTab="html">HTML</a>
        </div>
      </li>

    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">

        <div *ngIf="demoPane.data?.visible" class="row align-items-center">
            <div class="col-md-4">
              <app-popover-title-demo></app-popover-title-demo>
            </div>
            <div class="col-md-8">
              <code-highlight lang="html" [content]="snip"></code-highlight>
            </div>
        </div>
      </div>
      <div nzbTabPane="ts" #tsPane="nzbTabPane">
        <code-highlight lang="typescript" [content]="tsCode"></code-highlight>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <code-highlight lang="html" [content]="htmlCode"></code-highlight>
      </div>
    </div>
  </nzb-tabs>
</section>
