<h1 class="display-2">
  Tooltip Example
</h1>
<hr>
<section>
  <h3 class="display-6"> Tooltips Go Away Gracefully</h3>
  <div class="row example">
    <div class="col-sm-8">
      <p>
        This example demonstrates
        how a tooltip goes away gracefully (i.e. with animation)
        when its target is destroyed. <a routerLink="/tooltips">Click here</a> to trigger a route change.
      </p>

    </div>
    <div class="col-sm-4">
      <div class="demo">
        <app-tooltip-demo-hide-on-route-change></app-tooltip-demo-hide-on-route-change>
      </div>

    </div>
  </div>
  <markdown-to-html [data]="gistFiles['tooltip-demo-goes-away.component.ts'] | language : 'typescript'"></markdown-to-html>


</section>
