<p class="text-muted">
  This is the child component (containing the modal template.)
</p>
<!-- the modal template -->
<ng-template nzbModal #modalInstance="nzbModal">
  <div class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal Shown on Instantiation</h5>
          <button type="button" class="close"
            (click)="modalInstance.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            I was shown immediately by the <code>ngAfterViewInit</code>
            hook in the component that contains me.
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button" class="btn btn-secondary"
            (click)="modalInstance.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<p>
  <!-- the button -->
  <button class="btn btn-primary" (click)="modalInstance.show()">
    Show Modal
  </button>
</p>
