<section id="options-size">
  <h3 class="display-6">Size: <code>.modal-sm</code> and <code>.modal-lg</code> classes</h3>
  <div class="text-column">

    <p>
      Control the size of the modal by adding the
      <code>.modal-sm</code> or <code>.modal-lg</code> class
      to the  <code>.modal-dialog</code> element.
    </p>
  </div>
  <nzb-tabs uniqueId="options-size-tabs">
    <nav class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Full Code</a>
      </li>
    </nav>
    <div class="tab-content nzb-demo-tab-content">
      <div nzbTabPane="demo">
        <div class="row align-items-center">
          <div class="col-md-4">
            <app-modal-options-size-demo></app-modal-options-size-demo>
          </div>
          <div class="col-md">
              <code-highlight [content]="snip" lang="html"></code-highlight>
          </div>
        </div>
      </div>
      <div nzbTabPane="html">
        <code-highlight [content]="html" lang="html"></code-highlight>
      </div>

    </div>
  </nzb-tabs>
</section>
