
<section id="animate-on-destroy">
  <h5 class="display-5">animateOnDestroy</h5>

  <p>
    <code>animateOnDestroy?: boolean = true</code>
  </p>

  <p>
    This option controls whether to apply the hide
    animation to an open popover when its target
    element is destroyed, such as on a route navigation.
  </p>

  <nzb-tabs [uniqueId]="baseId + '-tabs'">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="ts">.ts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <app-popover-animate-on-destroy-demo></app-popover-animate-on-destroy-demo>
        </div>
      </div>
      <div nzbTabPane="ts" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-animate-on-destroy-demo.component.ts"></app-gist-embed>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-animate-on-destroy-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>
</section>
