

<ng-template #contentTemplate>
  <p>
    This nifty popover has been shown
    for {{shownFor}} seconds.
  </p>
  <p>
    <button role="button" class="btn btn-danger"
      (click)="popoverInstance.hide()" aria-label="Close">
      <i aria-hidden="true" class="fa fa-times"></i> Close Popover
    </button>
  </p>
</ng-template>

<p>
  <button class="btn btn-outline-info"
    nzbPopover
    #popoverInstance="nzbPopover"
    [nzbPopoverContent]="contentTemplate"
    title="Static Title">Content from Template</button>
</p>
