<p>
  <button class="btn btn-outline-info"
    nzbPopover
    #popoverInstance="nzbPopover"
    [nzbPopoverTitle]="titleTemplate"
    [nzbPopoverContent]="contentTemplate"
    [nzbPopoverOptions]="{animation: false}"
    data-trigger="hover">Fancy Popover (Hover)</button>
</p>
<!-- Template for the title -->
<ng-template #titleTemplate>
  Shown {{shownAt | amTimeAgo}}!
</ng-template>
<!-- Template for the content -->
<ng-template #contentTemplate>
  <div class="text-center">
    <p>
      This popover has been shown for
    </p>
    <h4>{{shownFor | number}}</h4>
    <p>
      second<span *ngIf="1!==shownFor">s</span>!
    </p>
  </div>
</ng-template>
