<h1 class="display-4">Modals Are Hidden Nicely</h1>
<hr>
<div class="row example">
  <div class="col-sm-6 col-md-4">

    <p>
      A modal is automatically (and gracefully) hidden then destroyed when the
      component that created it is destroyed (e.g. when the user navigates to another route.)
      Open the modal, then click the link in the modal body to navigate away from this page.
      The modal will go away gracefully.
    </p>

    <p>
      <button class="btn btn-primary" (click)="exampleModal.show()">Show Modal</button>
    </p>

    <ng-template nzbModal #exampleModal="nzbModal">
      <div class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Make Me Go Away</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <a routerLink="/modals">Click here</a> to
                navigate to another page.  This modal will
                go away gracefully.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <div class="col-sm-6 col-md-8">
    <markdown-to-html [data]="example | language : 'html'"></markdown-to-html>
  </div>

</div>
