<section id="offset">
  <h5 class="display-5">offset</h5>

  <p>
    <code>offset?: number|string = 0</code>
  </p>

  <p class="doc-callout warning">
    Note that to properly use this option, you seem to need to take
    into account the current placement of the tooltip, which
    the following examples <strong>do not</strong>.
  </p>


  <nzb-tabs [uniqueId]="baseId + '-tabs'">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <app-popover-offset-demo></app-popover-offset-demo>
        </div>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-offset-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>
</section>
