<section id="api">
  <h2 class="display-2">API</h2>

  <p>
    <code>NzbPopoverDirective</code>
    <sup>
      <a href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite/blob/master/src/popover/nzb-popover.directive.ts"
        class="external" target="repo">code</a>
    </sup>

    extends <code>NzbAbstractPopup</code>
    <sup>
      <a href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite/blob/master/src/common/nzb-abstract-popup.class.ts"
        class="external" target="repo">code</a>
    </sup>
    extends <code>NzbAbstractBootstrap</code>
    <sup>
      <a href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite/blob/master/src/common/nzb-abstract-bootstrap.class.ts"
        class="external" target="repo">code</a>
    </sup>
  </p>
  <p>
    <strong>Selector:</strong> <code>[nzbPopover]</code>
    <strong>Exported As:</strong> <code>nzbPopover</code>
  <p>
  <app-popover-inputs></app-popover-inputs>
  <app-popover-methods></app-popover-methods>

</section>
