<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>fallbackPlacement: 'clockwise'</code>
    </p>
  </div>
  <div class="col-md">
      <p>
        <button class="btn btn-outline-info"
          nzbPopover
          [nzbPopoverOptions]="{fallbackPlacement: 'clockwise', placement: 'auto'}"
          title="Static Title"
          data-content="Static content.">Popover Target</button>
      </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>fallbackPlacement: 'counterclockwise'</code>
    </p>
  </div>
  <div class="col-md">
      <p>

        <button class="btn btn-outline-info"
          nzbPopover
          [nzbPopoverOptions]="{fallbackPlacement: 'counterclockwise', placement: 'auto'}"
          title="Static Title"
          data-content="Static content.">Popover Target</button>

      </p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md">
    <p>
      <code>fallbackPlacement: 'flip'</code> (default)
    </p>
  </div>
  <div class="col-md">
      <p>

        <button class="btn btn-outline-info"
          nzbPopover
          [nzbPopoverOptions]="{fallbackPlacement: 'flip', placement: 'auto'}"
          title="Static Title"
          data-content="Static content.">Popover Target</button>

      </p>
  </div>
</div>
