<!DOCTYPE html>
<html lang="en">
  <%
  var title = title || null;
  var demo = demo || null;
  %>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <%
      if (title) {
        %>
        <%= title %> |
        <%
      }
      %>
      nzb
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/nowzoo-angular-bootstrap-lite/">nzb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavCollapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/nowzoo-angular-bootstrap-lite/">Home</a>
          </li>
          <%
          topNav.forEach(title => {
            var href = '/nowzoo-angular-bootstrap-lite/' + title.toLowerCase() + '/';
            %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="<%= href %>" id="navMenuToggle<%= title %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= title %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navMenuToggle<%= title %>">
                <a class="dropdown-item" href="<%= href %>">Documentation</a>
                <a class="dropdown-item" href="<%= href %>demo/">Demos</a>
              </div>
            </li>
            <%
          })
          %>
        </ul>
        <ul class="navbar-nav mr-auto">
          <a title="View code on GitHub" class="nav-link" href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span class="sr-only">View code on GitHub</span>
          </a>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%
        if (title) { %>
        <header class="page-header">
          <h1 class="display-1"><%= title %></h1>
        </header>

      <% }  %>
      <%= contents %>

      <%

        if (demo) {
          %>
          <app-root></app-root>
          <%
        }
      %>

    </div>
    <%
    if (demo) {
      %>
      <script type="text/javascript">
      var demo = '<%= demo %>';
      </script>
      <%
      jsFiles.forEach(f => {
        %>
        <script type="text/javascript" src="/nowzoo-angular-bootstrap-lite/demos/<%= f %>"></script>
        <%
      })
    } else {
      %>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      <%
    }
    %>
    <script type="text/javascript">
    jQuery(document).ready(function($){
      var span = '<span class="sr-only"> (current)</span>';
      var loc = location.pathname.replace(/^\//, '').replace(/\/$/, '').split('/');
      var top = '/' + loc.slice(0, 2).join('/') + '/';
      var link =   $('#topNavCollapse .nav-item .nav-link[href="' + top + '"]');
      link.parent('.nav-item').addClass('active');
      link.append(span);
    })
    </script>
  </body>
</html>
