<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>html: true</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{html: true}"
        title="<strong>Bold Title</strong>"
        data-content="Static <strong>content</strong>.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>html: false</code> (default)
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        title="<strong>Woops</strong>"
        data-content="Static <strong>woops</strong>.">Popover Target</button>
    </p>
  </div>

</div>
