<section id="html">
  <h5 class="display-5">html</h5>
  <p>
    <code>html?: boolean = false</code>
  </p>
  <p class="doc-callout info">
    Note that if you use templates for either
    <a routerLink="." fragment="title">title</a> or
      <a routerLink="." fragment="content">content</a>, 
    <code>html</code>
    is always set to <code>true</code>.
  </p>

  <nzb-tabs [uniqueId]="baseId + '-tabs'">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <app-popover-html-demo></app-popover-html-demo>
        </div>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-html-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>
</section>
