<section id="options">
  <h3 class="display-6"><code>nzbPopoverOptions: NzbPopoverOptions</code></h3>

  <p>
    <em>Optional.</em> Use <code>[nzbPopoverOptions]="{{ '{' }}...{{ '}' }}"</code>
    to set the options for an individual popover. Options you do not specify
    will revert to the Bootstrap popover defaults (or your
    <a router-link="." fragment="options-provider">app-wide defaults</a>
    if you have set them).
  </p>

  <section id="options-bootstrap">
      <h4>Bootstrap Options</h4>
    <p>
      All the Bootstrap
      <a class="external" target="_blank" href="https://getbootstrap.com/docs/4.0/components/popovers/#options">popover options</a>
      except for <code>title</code>, <code>content</code> and <code>selector</code> are supported.
    </p>
    <p class="doc-callout info">
      Note that you may use <code>data-</code> attributes for these options
      instead of <code>nzbPopoverOptions</code>.
    </p>
    <ul>
      <li><code>animation: boolean</code></li>
      <li><code>container: string|false|HTMLElement</code></li>
      <li><code>delay: number|{{'{'}}show:number, hide:number}</code></li>
      <li><code>html: boolean</code></li>
      <li><code>placement: string|((popupEl: HTMLElement, targetEl: HTMLElement) => string)</code></li>
      <li><code>template: string</code></li>
      <li><code>trigger: string</code></li>
      <li><code>offset: number|string</code></li>
      <li><code>fallbackPlacement: string|any[]</code></li>
    </ul>
    <nzb-tabs uniqueId="options-bootstrap-tabs">
      <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
        <li class="nav-item">
          <a class="nav-link" nzbTab="demo">Demo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Full Code</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" nzbTab="ts">Typescript</a>
            <a class="dropdown-item" nzbTab="html">HTML</a>
          </div>
        </li>
      </nav>
      <div class="tab-content">
        <div nzbTabPane="demo" #demoPane="nzbTabPane">

          <div *ngIf="demoPane.data?.visible">
            <app-popover-options-demo></app-popover-options-demo>
          </div>
        </div>
        <div nzbTabPane="ts" #tsPane="nzbTabPane">
          <code-highlight lang="typescript" [content]="bsOptionsDemoTs"></code-highlight>
        </div>
        <div nzbTabPane="html" #htmlPane="nzbTabPane">
          <code-highlight lang="html" [content]="bsOptionsDemoHtml"></code-highlight>
        </div>
      </div>
    </nzb-tabs>


  </section>





  <section id="options-animate-on-destroy">
    <h4><code>animateOnDestroy: boolean = true</code></h4>
    <p>
      This option controls whether an open popover
      animates to hidden when the element that it belongs to is destroyed,
      or just goes away immediately.
    </p>

    <nzb-tabs uniqueId="options-animate-on-destroy-tabs">
      <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
        <li class="nav-item">
          <a class="nav-link" nzbTab="demo">Demo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Full Code</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" nzbTab="ts">Typescript</a>
            <a class="dropdown-item" nzbTab="html">HTML</a>
          </div>
        </li>
      </nav>
      <div class="tab-content">
        <div nzbTabPane="demo" #demoPane="nzbTabPane">

          <div *ngIf="demoPane.data?.visible">
            <app-popover-animate-on-destroy-demo></app-popover-animate-on-destroy-demo>
          </div>
        </div>
        <div nzbTabPane="ts" #tsPane="nzbTabPane">
          <code-highlight lang="typescript" [content]="animateOnDestroyDemoTs"></code-highlight>
        </div>
        <div nzbTabPane="html" #htmlPane="nzbTabPane">
          <code-highlight lang="html" [content]="animateOnDestroyDemoHtml"></code-highlight>
        </div>
      </div>
    </nzb-tabs>

  </section>

  <section id="options-provider">
    <h4>Providing app-wide defaults</h4>
    <p>
      You can set application-wide popover options by providing your
      options as  <code>NzbPopoverOptions</code> in the module:
    </p>
    <code-highlight lang="typescript" [content]="appDefaultsTs"></code-highlight>
  </section>

</section>
