<section id="placement">
  <h5 class="display-5">placement</h5>

<p>
  <code>placement?: string|((popEl:HTMLElement, targetEl: HTMLElement) => string) = 'right'</code>
</p>



<nzb-tabs [uniqueId]="baseId + '-tabs'">
  <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
    <li class="nav-item">
      <a class="nav-link" nzbTab="demo">Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" nzbTab="ts">.ts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" nzbTab="html">.html</a>
    </li>
  </nav>
  <div class="tab-content">
    <div nzbTabPane="demo" #demoPane="nzbTabPane">
      <div *ngIf="demoPane.data?.visible">
        <app-popover-placement-demo></app-popover-placement-demo>
      </div>
    </div>
    <div nzbTabPane="ts" #htmlPane="nzbTabPane">
      <app-gist-embed [gistId]="gistId" file="popover-placement-demo.component.ts"></app-gist-embed>
    </div>
    <div nzbTabPane="html" #htmlPane="nzbTabPane">
      <app-gist-embed [gistId]="gistId" file="popover-placement-demo.component.html"></app-gist-embed>
    </div>
  </div>
</nzb-tabs>

</section>
