/* You can add global styles to this file, and also import other style files */

@import "../../node_modules/bootstrap/scss/variables";
@import "../node_modules/font-awesome/scss/variables";

.row.example{
  margin-top: 1em;
  margin-bottom: 1em;
}
.danger .tooltip-inner {
  background-color: $brand-danger;
}
a[role="button"] {
  cursor: pointer;

}
a[role="button"]:hover {
  text-decoration:underline;
}

.popover.popover-danger{
  .popover-header {
    background-color: $brand-danger;
    color: #FFF;
  }
}

.permalinked {
  display:flex;
  align-items: center;
}

.permalinked a {
  color: $gray-lighter;
  display: block;
  margin-left: .5em;
  font-size: .8em;
}

.permalinked:hover a,  .permalinked a:hover, .permalinked a:active {
  color: $gray-light;
}

.permalinked a:hover, .permalinked a:active {
  color: $gray;
}

.popover.danger .popover-header {
    color: #FFF;
    background-color: $brand-danger;
}
.doc-callout {
  border-left-width: 6px;
  border-left-style: solid;
  padding: 6px 0 6px 16px;
  &.warning {
    border-left-color: $brand-warning;
  }
  &.danger {
    border-left-color: $brand-danger;
  }
  &.success {
    border-left-color: $brand-success;
  }
  &.primary {
    border-left-color: $brand-primary;
  }
  &.info {
    border-left-color: $brand-info;
  }

}

a.external,  a.external:hover{
  position: relative;
  padding-right: .6em;
  &:after {
    display: block;
    position: absolute;
    font-family: fontawesome;
    font-size: .5em;
    color: $gray;
    text-decoration: none !important;
    content: $fa-var-external-link;
    top: 0;
    right: 0;
  }
}
section {
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px dashed $gray-light;
  &:last-child{
    border-bottom: none;
  }
  section {
    border-bottom: 1px solid $gray-lighter;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}



.modal {
  .show-if-modal-focused{
    display: none;
  }
  .show-if-modal-not-focused{
    display: block;
  }
  &:focus {
    .show-if-modal-focused{
      display: block;
    }
    .show-if-modal-not-focused{
      display: none;
    }
  }
}
