/* You can add global styles to this file, and also import other style files */

.row.example{
  margin-top: 1em;
  margin-bottom: 1em;
}
.danger .tooltip-inner {
  background-color: red;
}
a[role="button"] {
  cursor: pointer;

}
a[role="button"]:hover {
  text-decoration:underline;
}
