<section id="options-keyboard">
  <h3 class="display-6"><code>data-keyboard</code></h3>

  <p>
    By default pressing the escape key will dismiss the modal when it is focused.
    Use  <code>data-keyboard="false"</code> to change this behavior.
  </p>
  <p class="doc-callout info">
    Note that you must set the <code>tabindex</code> attribute
    on the <code>.modal</code> element in order for the modal to receive keyboard
    events.
  </p>
  <nzb-tabs uniqueId="options-keyboard-tabs">
    <nav class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Full Code</a>
      </li>
    </nav>
    <div class="tab-content nzb-demo-tab-content">
      <div nzbTabPane="demo">
        <div class="row align-items-center">
          <div class="col-md-4">
            <app-modal-options-keyboard-demo></app-modal-options-keyboard-demo>
          </div>
          <div class="col-md-8">
              <code-highlight [content]="snip" lang="html"></code-highlight>
          </div>
        </div>
      </div>
      <div nzbTabPane="html">
        <code-highlight [content]="html" lang="html"></code-highlight>
      </div>
    </div>
  </nzb-tabs>
</section>
