<h1 class="display-2">
  Popovers
</h1>
<hr>


<p class="lead">
  <a
    href="https://getbootstrap.com/docs/4.0/components/popovers/"
    nzbTooltip
    title="Bootstrap popover docs"
    target="bsdocs">Bootstrap popovers<i class="fa fa-fw fa-external-link"></i></a>
    based on data- attributes and (optionally) <code>ng-template</code>'s.
</p>

<section>
  <h2 class="display-4" id="quickstart" permalinked>Quick Start</h2>
  <div class="row align-items-center">
    <div class="col-sm-4">
      <p class="text-center">
        <button class="btn btn-primary" nzbPopover
          [nzbPopoverTitle]="quickstartTitle"
          [nzbPopoverContent]="quickstartContent"
          data-placement="auto">Quick Example</button>
          <ng-template #quickstartTitle>Popover Title</ng-template>
          <ng-template #quickstartContent>Some popover content.</ng-template>
      </p>
      <p class="text-center">
        <a routerLink="." fragment="examples">more examples</a>
      </p>
    </div>
    <div class="col-sm-8">
      <markdown-to-html [data]="gistFiles['popover-demo-0.html'] | language : 'html'"></markdown-to-html>

    </div>
  </div>
</section>
<!-- #api -->
<section>
  <h2 class="display-4" id="api" permalinked>API</h2>

  <p>
    <code>NzbPopoverDirective</code>
    <a
      class="btn btn-secondary btn-sm"
      nzbTooltip
      title="NzbPopoverDirective on GitHub"
      href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite/blob/master/src/popover/nzb-popover.directive.ts"
      target="gh">
      <span class="sr-only">NzbPopoverDirective on GitHub</span>
      <i class="fa fa-github"></i>
    </a>

    <code>extends NzbAbstractPopup</code>

    <a
      class="btn btn-secondary btn-sm"
      nzbTooltip
      title="NzbAbstractPopup on GitHub"
      href="https://github.com/nowzoo/nowzoo-angular-bootstrap-lite/blob/master/src/common/nzb-abstract-popup.class.ts"
      target="gh">
      <span class="sr-only">NzbAbstractPopup on GitHub</span>
      <i class="fa fa-github"></i>
    </a>
  </p>

  <p>
    Selector: <code>[nzbPopover]</code>
  </p>

  <h3 class="display-6"  id="inputs" permalinked>Inputs</h3>
  <ul>
    <li>
      <code>nzbPopoverTitle: TemplateRef</code>
      <small><a routerLink="." fragment="templates">example</a></small>
      <em>Or</em>  use the <code>title</code> or <code>data-title</code> attribute.
      <small><a routerLink="." fragment="attributes">example</a></small>
    </li>
    <li>
      <code>nzbPopoverContent: TemplateRef</code>
      <small><a routerLink="." fragment="templates">example</a></small>
      <em>Or</em> use the <code>data-content</code> attribute.
      <small><a routerLink="." fragment="attributes">example</a></small>
    </li>
    <li>
      <code>nzbPopoverPlacement: (popoverEl, targetEl) => string</code>
      <em>Or</em> use the <code>data-placement</code> attribute.
    </li>

  </ul>
  <p>
    All the other
    <a href="https://getbootstrap.com/docs/4.0/components/popovers/#options"
    nzbTooltip
    title="popover option docs"
    target="bsdocs">Bootstrap popover options<i class="fa fa-fw fa-external-link"></i></a>
    (except <code>selector</code>) are supported
    via <code>data-</code> attributes:
  </p>
  <ul>
    <li><code>data-animation</code></li>
    <li><code>data-container</code></li>
    <li><code>data-delay</code></li>
    <li><code>data-html</code></li>
    <li><code>data-trigger</code></li>
    <li><code>data-offset</code></li>
    <li><code>data-fallbackTrigger</code></li>
  </ul>

  <h3 class="display-6"  id="methods" permalinked>Methods</h3>
  <p>
    The directive wraps all Bootstrap
    <a href="https://getbootstrap.com/docs/4.0/components/popovers/#methods"
    nzbTooltip
    title="popover method docs"
    target="bsdocs">popover methods<i class="fa fa-fw fa-external-link"></i></a> except for
    <code>dispose()</code> (the directive takes care of disposing of the popover.)

  <ul>
    <li>
      <code>show()</code>
    </li>
    <li>
      <code>hide()</code>
    </li>
    <li>
      <code>toggle()</code>
    </li>
    <li>
      <code>enable()</code>
    </li>
    <li>
      <code>disable()</code>
    </li>
    <li>
      <code>toggleEnabled()</code>
    </li>
    <li>
      <code>update()</code>
    </li>

  </ul>

  <h3 class="display-6"  id="properties" permalinked>Properties</h3>
  <ul>
    <li>
      <code>shown: boolean</code>
      Whether the popover is completely shown (i.e., when the animations are done.)
    </li>
    <li>
      <code>hidden: boolean</code>
      Whether the popover is completely hidden (i.e., when the animations are done.)
    </li>
    <li>
      <code>enabled: boolean</code>
      Whether the popover is enabled.
    </li>
    <li>
      <code>events: Observable&lt;Event&gt;</code> An observable of the
        <a href="https://getbootstrap.com/docs/4.0/components/popovers/#events"
        nzbTooltip
        title="popover event docs"
        target="bsdocs">native popover events<i class="fa fa-fw fa-external-link"></i></a>.
    </li>
    <li>
      <code>status: Observable&lt;string&gt;</code>
      An observable of <code>'show'|'inserted'|'shown'|'hide'|'hidden'</code>.
    </li>
    <li>
      <code>boostrapComponentData: any</code>
      The underlying popover data attached by Bootstrap to the
      target element.
    </li>
  </ul>

</section>


<!-- #examples -->
<section>
  <h2 class="display-4" id="examples" permalinked>Examples</h2>

  <ul>
    <li>
      <a routerLink="." fragment="attributes">Using attributes for title and content</a>
    </li>
    <li>
      <a routerLink="." fragment="templates">Using templates for title and content</a>
    </li>
    <li>
      <a routerLink="." fragment="no-title">Popover with no title</a>
    </li>
    <li>
      <a routerLink="." fragment="placement-function">Using a function for placement</a>
    </li>
    <li>
      <a routerLink="." fragment="popover-instance">Getting the popover directive instance</a>
    </li>
    <li>
      <a routerLink="." fragment="show-hide">Programatically showing and hiding a popover</a>
    </li>
    <li>
      <a routerLink="." fragment="enable-disable">Enable/disable a popover</a>
    </li>
    <li>
      <a routerLink="." fragment="add-class">Toggle extra classes on the popover element</a>
    </li>
    <li>
      <a routerLink="." fragment="events">Events and triggers: dismiss on click outside</a>
    </li>

    <li>
      <a routerLink="/popovers/go-away-nicely">Popovers go away gracefully when their target is destroyed</a>
      (separate page)
    </li>

  </ul>

  <!-- #attributes -->
  <section>
    <h3 class="display-6" id="attributes" permalinked>
      Using attributes for title and content
    </h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          The directive can handle the simplest use case
          (e.g. adding a popover with a static title and content)
          using <code>nzbPopover title="..." data-content="..."</code>.
        </p>
        <p class="doc-callout info">
          You can use <code>data-title</code> rather than <code>title</code>.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-attributes></app-popover-demo-attributes>
        </div>
      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-attributes.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>


  <!-- #templates -->
  <section>
    <h3 class="display-6" id="templates" permalinked>Using templates for title and content</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          The directive can also handle more complex situations, by using <code>ng-template</code>s to
          define the popover's title and content. This allows you to interpolate variables and
          perform more complex logic.
        </p>
        <p>
          This demo add a close button to the title and displays
          an informative message about how long it's been since you
          toggled the popover.
        </p>
        <p>
          For the title, use <code>[nzbPopoverTitle]="titleTemplate"</code>
          with <code>&lt;ng-template #titleTemplate&gt;...&lt;/ng-template&gt;</code>
        </p>
        <p>
          For the content, use <code>[nzbPopoverContent]="contentTemplate"</code>
          with <code>&lt;ng-template #contentTemplate&gt;...&lt;/ng-template&gt;</code>
        </p>
        <p class="doc-callout warning">
          The <code>title</code> attribute, if present, will override
           <code>[nzbPopoverTitle]</code>. This is by design. If you're using
           a template for the title, omit the title attribute.
        </p>
        <p class="doc-callout warning">
          If you use a template for either title or content, the popover's
          <code>html</code> property will be set to <code>true</code>.
          Angular needs markup to do its stuff.
        </p>
        <p class="doc-callout info">
          You can mix and match templates and attributes &mdash; i.e. you can
          use a template for the content and an attribute for the title or
          <i>vice-versa</i>.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-templates></app-popover-demo-templates>
        </div>

      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-templates.component.ts'] | language : 'typescript'"></markdown-to-html>
  </section>

  <!-- #no-title -->
  <section>
    <h3 class="display-6" id="no-title" permalinked>Popover with no title</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          The popover title is optional. Just omit the <code>title</code> attribute.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-no-title></app-popover-demo-no-title>
        </div>
      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-no-title.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

  <!-- #placement-function -->
  <section>
    <h3 class="display-6" id="placement-function" permalinked>Using a function for placement</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          If you want to do some fancy calculation in order
          to figure out placement, use <code>[nzbPopoverPlacement]="myPlacementFunc"</code>.
        </p>

        <p class="doc-callout info">
          As an alternative, try plain old <code>data-placement="auto"</code>.
          This should be sufficient in most use cases.
        </p>
        <p class="doc-callout info">
          Our function in this example returns <code>'top'</code> if the window is smaller than
          the small breakpoint, and <code>'left'</code> otherwise. But
          by default Bootstrap tries to flip the placement if there isn't enough room in the
          viewport to display the entire popover &mdash; so your results may vary.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-placement-func></app-popover-demo-placement-func>
        </div>
      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-placement-func.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

  <!-- #popover-instance -->
  <section>
    <h3 class="display-6"  id="popover-instance" permalinked>Getting the popover directive instance</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          Access the popover directive instance in a template variable with
          <code>#myPopover="nzbTooltip"</code>.
          You can then use <code>myPopover</code> in your template,
          or use
          <code>@ViewChild('myPopover') myPopover: NzbPopoverDirective</code>
          to manipulate it in typescript.
        </p>


      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-get-instance></app-popover-demo-get-instance>
        </div>
      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-get-instance.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

  <!-- #show-hide -->
  <section>
    <h3 class="display-6" id="show-hide" permalinked>Programatically showing and hiding a popover</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          You can programatically show/hide/toggle a popover with
          the <code>show()</code>,
          <code>hide()</code>,
          and <code>toggle()</code> methodes.
        </p>
        <p class="doc-callout info">
          Note that in this example <code>data-trigger="manual"</code>,
          disabling the default "click" trigger. Use the show(), hide() and toggle() buttons below it
          to manipulate the popover.
        </p>
        <p class="doc-callout info">
          We're using <code>popoverInstance.shown</code> and
          <code>popoverInstance.hidden</code> properties to control the disabed state
          of the show and hide buttons.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-show-hide></app-popover-demo-show-hide>
        </div>

      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-show-hide.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

  <!-- #enable-disable -->
  <section>
    <h3 class="display-6" id="enable-disable" permalinked>Enable/disable a popover</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          This example demonstrates
          <code>enable()</code>,
          <code>disable()</code>,
          and <code>toggleEnabled()</code>
          methods of the directive.
        </p>
        <p class="doc-callout info">
          We're also using the <code>enabled</code>
          property to control the disabled state
          of the enable and disble buttons.
        </p>
        <p class="doc-callout danger">
          <strong>Note:</strong> If you disable then enable the popover the user
          will sometimes have to click twice to show the popover.
          This is <a class="external" href="https://github.com/twbs/bootstrap/issues/23525"
          target="_blank">an open Bootstrap issue</a>.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-disable></app-popover-demo-disable>
        </div>

      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-disable.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

  <!-- #add-class -->
  <section>
    <h3 class="display-6" id="add-class" permalinked>Toggle extra classes on the popover element</h3>

    <div class="row example">
      <div class="col-sm-8">
        <p>
          This example toggles an extra <code>.danger</code> class on
          the tooltip, using the<code>boostrapComponentData</code>
          property. This gives us access to <code>tip</code> property,
          which is the top level HTML element for the popover.
        </p>
        <p class="doc-callout warning">
          The <code>tip</code> property does not exist
          until the popover has been opened for the first time,
          so check for its existence for manipulating it.
        </p>

      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-add-class></app-popover-demo-add-class>
        </div>

      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-add-class.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>


  <section>
    <h3 class="display-6" id="events" permalinked>Events and triggers: dismiss on click outside</h3>
    <div class="row example">
      <div class="col-sm-8">
        <p>
          This example demonstrates how you can construct your
          own show/hide triggers. This popover displays a form
          for entering your name. If the user clicks outside the
          popover while it is open, we hide it.
        </p>

      </div>
      <div class="col-sm-4">
        <div class="demo">
          <app-popover-demo-dismiss-on-click-outside></app-popover-demo-dismiss-on-click-outside>
        </div>
      </div>
    </div>
    <markdown-to-html [data]="gistFiles['popover-demo-dismiss-on-click-outside.component.ts'] | language : 'typescript'"></markdown-to-html>

  </section>

</section>
