<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/nowzoo-angular-bootstrap-lite">nzb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAlertsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alerts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAlertsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/alerts">Documentation</a>
          <a class="dropdown-item" routerLink="/alerts">Demos</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCarouselsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Carousels
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarCarouselsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/carousels">Documentation</a>
          <a class="dropdown-item" routerLink="/carousels">Demos</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCollapseDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Collapse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarCollapseDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/collapse">Documentation</a>
          <a class="dropdown-item" routerLink="/collapse">Demos</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdowns
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/dropdowns">Documentation</a>
          <a class="dropdown-item" routerLink="/dropdowns">Demos</a>
        </div>
      </li>


      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModalsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarModalsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/modals">Documentation</a>
          <a class="dropdown-item" routerLink="/modals">Demos</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarPopoversDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Popovers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarPopoversDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/popovers">Documentation</a>
          <a class="dropdown-item" routerLink="/popovers">Demos</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTooltipsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tooltips
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTooltipsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/tooltips">Documentation</a>
          <a class="dropdown-item" routerLink="/tooltips">Demos</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTabsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tabs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTabsDropdownMenuLink">
          <a class="dropdown-item" href="/nowzoo-angular-bootstrap-lite/tabs">Documentation</a>
          <a class="dropdown-item" routerLink="/tabs">Demos</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container" style="padding-top: 30px">
  <router-outlet></router-outlet>
</div>
