<h1 class="display-2">
  Popover Example
</h1>
<hr>
<section>
  <h3 class="display-6"> Popovers Go Away Gracefully</h3>
  <div class="row example">
    <div class="col-sm-8">
      <p>
        This example demonstrates
        how a popover goes away gracefully (i.e. with animation)
        when its target is destroyed. Click on the link in the popover to trigger a route change.
      </p>

    </div>
    <div class="col-sm-4">
      <div class="demo">
        <app-popover-demo-hide-on-route-change></app-popover-demo-hide-on-route-change>
      </div>

    </div>
  </div>
  <markdown-to-html [data]="gistFiles['popover-demo-hide-on-route-change.component.ts'] | language : 'typescript'"></markdown-to-html>


</section>
