<h1 class="display-1" id="top">
  Modals
</h1>
<hr>

<p class="lead">
  Simple
  <a class="external"
    href="https://getbootstrap.com/docs/4.0/components/modal/"
    nzbTooltip
    title="Bootstrap modal docs"
    target="bsdocs">Bootstrap modals</a>
    with <code>ng-template</code>.
</p>


<!-- #quickstart -->
<app-modal-quickstart></app-modal-quickstart>

<!-- #overview -->
<app-modal-overview></app-modal-overview>

<!-- #api -->
<app-modal-api></app-modal-api>

<!-- #options -->
<app-modal-options></app-modal-options>

<!-- #examples -->
<section>
  <h2 class="display-4" id="examples" permalinked>Other Examples</h2>

  <section>
    <h3 class="display-6" id="show-on-instantiation" permalinked>
      Show a modal immediately on instantiation
    </h3>
    <p>
      As mentioned above, the directive does not support the <code>data-show</code>
      attribute. Instead use the <code>ngAfterViewInit</code> hook in the component
      that contains the modal template.
    </p>
    <ul class="nav nav-tabs" id="example-show-on-instantiation" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#modal-show-on-instantiation-demo" role="tab">Example</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Code</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-ts-child" role="tab">Typescript (Child)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-html-child" role="tab">HTML (Child)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-ts" role="tab">Typescript (Parent)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-html" role="tab">HTML (Parent)</a>
        </div>
      </li>
    </ul>
    <div class="tab-content" style="margin-top: 1em">
      <div class="tab-pane active fade show" id="modal-show-on-instantiation-demo" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">

            <p>
              Click "Create Child."  The child component shows the modal in
              it's <code>ngAfterViewInit</code> lifecycle hook.
            </p>
            <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-snippet.ts"></app-gist-embed>

          </div>
          <div class="col-sm-6">
            <app-modal-demo-show-on-instantiation></app-modal-demo-show-on-instantiation>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-ts-child" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-child.component.ts"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-html-child" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-child.component.html"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-ts" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation.component.ts"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-html" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation.component.html"></app-gist-embed>
      </div>
    </div>

  </section>


  <section>
    <h3 class="display-6" id="goes-away-nicely" permalinked>
      A modal is hidden gracefully and automatically
    </h3>
    <p>
      When a component containing a modal directive is destroyed, such as on
      navigating to a new route, the modal is hidden gracefully if open and
      all the markup is removed from the <code>body</code> tag.
    </p>
    <ul class="nav nav-tabs" id="example-goes-away-nicely" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#modal-goes-away-nicely-demo" role="tab">Example</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#modal-goes-away-nicely-demo-html" role="tab">HTML</a>
      </li>
    </ul>
    <div class="tab-content" style="margin-top: 1em">
      <div class="tab-pane active fade show" id="modal-goes-away-nicely-demo" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">

            <p>
              Show the modal, then click on the link in the modal body to trigger a route change.
            </p>

          </div>
          <div class="col-sm-6">
            <app-modal-demo-goes-away-nicely></app-modal-demo-goes-away-nicely>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="modal-goes-away-nicely-demo-html" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-goes-away-nicely.component.html"></app-gist-embed>
      </div>

    </div>

  </section>

</section>
