<h1 class="display-1" id="top">
  Modals
</h1>
<hr>

<p class="lead">
  Simple
  <a class="external"
    href="https://getbootstrap.com/docs/4.0/components/modal/"
    nzbTooltip
    title="Bootstrap modal docs"
    target="bsdocs">Bootstrap modals</a>
    with <code>ng-template</code>.
</p>



<!-- #quickstart -->
<app-modal-quickstart></app-modal-quickstart>

<!-- #overview -->
<app-modal-overview></app-modal-overview>

<!-- #api -->
<app-modal-api></app-modal-api>

<!-- #options -->
<section id="options">
  <h2 class="display-4">Options</h2>
  <div class="text-column">
    <p>
       Set modal options options
        via <code>data-</code> attributes or CSS classes.
    </p>
    <p class="doc-callout info">
      You can't set <code>data-show="true"</code>. To show the modal immediately
      (say, on navigating to a new route,) call <code>modalInstance.show()</code>
      programatically in the component that contains the modal.
      <a routerLink="." fragment="show-on-instantiation">See this example</a>.
      All the other Bootstrap modal <code>data-</code> attributes are supported.
    </p>
  </div>
  <!-- #animation -->
  <section id="animation">
    <h3 class="display-6">Animation</h3>
    <div class="text-column">
      <p>
        Animation is turned on or off by adding or removing the <code>.fade</code> class
        in the top level <code>.modal</code> tag.
      </p>
      <app-gist-embed [gistId]="gistId" file="animation-snippet.html"></app-gist-embed>
    </div>
    <nzb-tabs uniqueId="animation-demo-tabs">
      <nav class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" nzbTab="demo">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nzbTab="html">.html</a>
        </li>
      </nav>
      <div class="tab-content nzb-demo-tab-content">
        <div nzbTabPane="demo">
          <app-modal-demo-animation></app-modal-demo-animation>
        </div>
        <div nzbTabPane="html">
          <app-gist-embed [gistId]="gistId" file="modal-demo-animation.component.html"></app-gist-embed>
        </div>
      </div>
    </nzb-tabs>

  </section>
  <!-- #size -->
  <section id="size">
    <h3 class="display-6">Size</h3>
    <div class="text-column">
      <p>
        Change the size of the modal by adding the <code>.modal-sm</code> or <code>.modal-lg</code> class
        to the <code>.modal-dialog</code> tag.
        <a class="external"
          href="https://getbootstrap.com/docs/4.0/components/modal/#optional-sizes"
          target="bsdocs">Bootstrap documentation</a>
      </p>
      <app-gist-embed [gistId]="gistId" file="size-snippet.html"></app-gist-embed>


    </div>
    <nzb-tabs uniqueId="size-demo-tabs">
      <nav class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" nzbTab="demo">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nzbTab="html">.html</a>
        </li>
      </nav>
      <div class="tab-content nzb-demo-tab-content">
        <div nzbTabPane="demo">
          <app-modal-demo-size></app-modal-demo-size>
        </div>
        <div nzbTabPane="html">
          <app-gist-embed [gistId]="gistId" file="modal-demo-size.component.html"></app-gist-embed>
        </div>
      </div>
    </nzb-tabs>

  </section>
  <!-- #backdrop -->
  <section id="backdrop" >
    <h3 class="display-6">Backdrop</h3>
    <p>
      By default the backdrop is shown, and clicking on it will dismiss the modal.
    </p>
    <p>
      Set the <code>data-backdrop</code> attribute in the top level <code>.modal</code> tag
      to change this.
    </p>
    <p>
      Possible values are <code>data-backdrop="false"</code>, for no backdrop, and
      <code>data-backdrop="static"</code>, for a backdrop that does not dismiss the modal.
    </p>
  </section>
  <!-- #keyboard -->
  <section id="keyboard">
    <h3 class="display-6">Keyboard</h3>
    <p>
      By default,  pressing the <code>esc</code> key will dismiss the modal when
      it is focused.
    </p>
    <p>
      Use <code>data-keyboard="false"</code> in the top level <code>.modal</code> tag
      to disable this behavior.
    </p>
  </section>
  <!-- #focus -->
  <section id="focus">
    <h3 class="display-6" >Focus</h3>
    <p>
      By default, the modal is focused when shown.
    </p>
    <p>
      Use <code>data-focus="false"</code> in the top level <code>.modal</code> tag
      to disable this behavior.
    </p>
    <p class="doc-callout info">
       Note that you must also set <code>tabindex="-1"</code> in the <code>.modal</code> tag
       for the modal to receive focus.
    </p>
  </section>
</section>

<!-- #examples -->
<section>
  <h2 class="display-4" id="examples" permalinked>Other Examples</h2>

  <section>
    <h3 class="display-6" id="show-on-instantiation" permalinked>
      Show a modal immediately on instantiation
    </h3>
    <p>
      As mentioned above, the directive does not support the <code>data-show</code>
      attribute. Instead use the <code>ngAfterViewInit</code> hook in the component
      that contains the modal template.
    </p>
    <ul class="nav nav-tabs" id="example-show-on-instantiation" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#modal-show-on-instantiation-demo" role="tab">Example</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Code</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-ts-child" role="tab">Typescript (Child)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-html-child" role="tab">HTML (Child)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-ts" role="tab">Typescript (Parent)</a>
          <a class="dropdown-item" data-toggle="tab" href="#modal-show-on-instantiation-demo-html" role="tab">HTML (Parent)</a>
        </div>
      </li>
    </ul>
    <div class="tab-content" style="margin-top: 1em">
      <div class="tab-pane active fade show" id="modal-show-on-instantiation-demo" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">

            <p>
              Click "Create Child."  The child component shows the modal in
              it's <code>ngAfterViewInit</code> lifecycle hook.
            </p>
            <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-snippet.ts"></app-gist-embed>

          </div>
          <div class="col-sm-6">
            <app-modal-demo-show-on-instantiation></app-modal-demo-show-on-instantiation>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-ts-child" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-child.component.ts"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-html-child" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation-child.component.html"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-ts" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation.component.ts"></app-gist-embed>
      </div>
      <div class="tab-pane fade" id="modal-show-on-instantiation-demo-html" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-show-on-instantiation.component.html"></app-gist-embed>
      </div>
    </div>

  </section>


  <section>
    <h3 class="display-6" id="goes-away-nicely" permalinked>
      A modal is hidden gracefully and automatically
    </h3>
    <p>
      When a component containing a modal directive is destroyed, such as on
      navigating to a new route, the modal is hidden gracefully if open and
      all the markup is removed from the <code>body</code> tag.
    </p>
    <ul class="nav nav-tabs" id="example-goes-away-nicely" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#modal-goes-away-nicely-demo" role="tab">Example</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#modal-goes-away-nicely-demo-html" role="tab">HTML</a>
      </li>
    </ul>
    <div class="tab-content" style="margin-top: 1em">
      <div class="tab-pane active fade show" id="modal-goes-away-nicely-demo" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">

            <p>
              Show the modal, then click on the link in the modal body to trigger a route change.
            </p>

          </div>
          <div class="col-sm-6">
            <app-modal-demo-goes-away-nicely></app-modal-demo-goes-away-nicely>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="modal-goes-away-nicely-demo-html" role="tabpanel">
        <app-gist-embed [gistId]="gistId" file="modal-demo-goes-away-nicely.component.html"></app-gist-embed>
      </div>

    </div>

  </section>

</section>
