
<section id="example-youtube">
  <h3 class="display-6">YouTube Video</h3>
  <div class="text-column">
    <p>
      This example wraps a YouTube video.
    </p>
  </div>
  <nzb-tabs uniqueId="example-youtube-tabs">
    <nav class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Full Code</a>
      </li>
    </nav>
    <div class="tab-content nzb-demo-tab-content">
      <div nzbTabPane="demo">
        <div class="row align-items-center">
          <div class="col-md-4">
            <app-modal-example-youtube-demo></app-modal-example-youtube-demo>
          </div>
          <div class="col-md-8">

            <code-highlight [content]="snip" lang="html"></code-highlight>
          </div>

        </div>
      </div>
      <div nzbTabPane="html">
        <code-highlight [content]="html" lang="html"></code-highlight>
      </div>
    </div>
  </nzb-tabs>

</section>
