<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>placement: 'bottom'</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: 'bottom'}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>placement: 'top'</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: 'top'}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>

<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>placement: 'right'</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: 'right'}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>placement: 'left'</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: 'left'}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>placement: 'auto'</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: 'auto'}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center">

  <div class="col-md">
    <p>
      <code>placement: myFunc</code> (defined in component)
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{placement: myFunc}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>

</div>
