<section id="delay">
  <h5 class="display-5">delay</h5>

  <p>
    <code>delay?: number|&#123;show: number, hide: number&#125; = 0</code>
  </p>


  <nzb-tabs [uniqueId]="baseId + '-tabs'">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <app-popover-delay-demo></app-popover-delay-demo>
        </div>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-delay-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>

</section>
