

<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>delay: 1000</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{delay: 1000}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">


  <div class="col-md">
    <p>
      <code>delay: {{ '{' }}show: 300, hide: 150{{ '}' }}</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{delay: {show: 300, hide: 150}}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>

</div>
<div class="row align-items-center">

  <div class="col-md">
    <p>
      <code>delay: 0</code> (default)
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{delay:0}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>

</div>
