
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>animation: false</code>
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{animation: false}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md">
    <p>
      <code>animation: true</code> (default)
    </p>
  </div>
  <div class="col-md">
    <p>
      <button class="btn btn-outline-info"
        nzbPopover
        [nzbPopoverOptions]="{animation: true}"
        title="Static Title"
        data-content="Static content.">Popover Target</button>
    </p>
  </div>
</div>
