<section id="options-title-attributes">
  <h4>Title from Attribute: <code>title</code> or <code>data-title</code></h4>
  <p>
    If you don't need variable interpolation or lots of logic
    in the popover title, simply use the <code>title</code>
    or <code>data-title</code> attribute.
  </p>
  <nzb-tabs uniqueId="options-title-attributes-tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Code</a>
      </li>

    </ul>
    <div class="tab-content nzb-demo-tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
          <div class="row align-items-center mb-3">
            <div class="col-md-4">
              <app-popover-title-attributes-demo></app-popover-title-attributes-demo>
            </div>
            <div class="col-md-8">
              <code-highlight lang="html" [content]="snip"></code-highlight>
            </div>
          </div>
        </div>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <code-highlight lang="html" [content]="html"></code-highlight>
      </div>
    </div>
  </nzb-tabs>

</section>
