<section id="enable-disable">

  <p><code>enable(): void</code></p>
  <p><code>disable(): void</code></p>
  <p><code>toggleEnabled(): void</code></p>

  <nzb-tabs uniqueId="popover-enable-disable-tabs">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Code</a>
      </li>


    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">

        <div *ngIf="demoPane.data?.visible" class="row align-items-center">
            <div class="col-md-4">
              <app-popover-enable-disable-demo></app-popover-enable-disable-demo>
            </div>
            <div class="col-md-8">
              <p class="doc-callout info">
                Blah
              </p>
            </div>
        </div>
      </div>

      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <code-highlight lang="html" [content]="html"></code-highlight>
      </div>
    </div>
  </nzb-tabs>

</section>
