<h1 class="display-4">Modal Animation</h1>
<hr>
<div class="row example">
  <div class="col-sm-6 col-md-4">

    <p>
      Animation is controlled by the presence of the <code>.fade</code>
      class on the   <code>.modal</code> element. Add <code>.fade</code>
      to animate. Remove  <code>.fade</code> to disable animation.
    </p>

    <p>
      <button class="btn btn-primary" (click)="animateModal.show()">Modal With Animation</button>
    </p>
    <p>
      <button class="btn btn-primary" (click)="inanimateModal.show()">Modal Without Animation</button>
    </p>

    <p>
      <a href="https://getbootstrap.com/docs/4.0/components/modal/#remove-animation" target="bootstrapdocs">
        <i class="fa fa-external-link fa-fw"></i>Bootstrap docs</a>
    </p>

    <ng-template nzbModal #animateModal="nzbModal">
      <!-- NOTE .fade class -->
      <div class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Animated</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                This modal is animated.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template nzbModal #inanimateModal="nzbModal">
      <!-- NOTE  absence of .fade class -->
      <div class="modal" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Not Animated</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                This modal is not animated.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <div class="col-sm-6 col-md-8">
    <markdown-to-html [data]="example | language : 'html'"></markdown-to-html>
  </div>

</div>
