<section id="overview">
  <h2 class="display-4">Overview</h2>


  <section id="how">
    <h3 class="display-6">
      How It Works
    </h3>
    <div class="text-column">
      <p>
        Define an <code>ng-template</code> with the selector <code>nzbModal</code>.
        The template should contain complete Bootstrap modal
        markup (i.e. including the top=level <code>.modal</code> element.)
      </p>

      <code-highlight [content]="snippet1" lang="html"></code-highlight>

      <p>
        <strong>Importantly,</strong> grab a reference to the modal directive
        by using <code>modalInstance="nzbModal"</code>. (The directive is exported as
        <code>nzbModal</code>.) Now <code>modalInstance</code> is an instance of
        <code>NzbModalDirective</code> and you have access to the directive's methods
        and properties. For example, you can access it in HTML...
      </p>
      <code-highlight [content]="snippet2" lang="html"></code-highlight>
      <p>
        ...or in your component, with <code>ViewChild</code> like this...
      </p>
      <code-highlight [content]="snippet3" lang="typescript"></code-highlight>
      <p>
        See the <a routerLink="." fragment="api">API section</a> for a list of
        properties and methods, with examples.
      </p>
    </div>

  </section>
  <section id="notes">
    <h3 class="display-6">
      Notes
    </h3>

    <div class="text-column">

      <h6>Alignment with the native API</h6>
      <p>
        This implementation strives to wrap the Bootstrap modal API
        with a minimum of fuss. All the native methods
        are supported, and options like animation and backdrop are controlled
        by the native <code>data-</code> attributes and css classes.
      </p>
      <p>
        There are a few differences and additions
        you should know about:
      </p>
      <ul>
        <li>
          Modal markup is attached to the DOM (and added to Angular change detection)
          when the modal is shown, and removed after the modal is hidden.  This differs
          from how one might do Bootstrap modals natively &mdash; e.g. with the markup
          always attacted to the DOM.
        </li>

        <li>
          The modal's native Bootstrap events are exposed via an Observable:
          <code>events: Observable&lt;Event&gt;</code> (<a routerLink="." fragment="api-events">documentation</a>.)
        </li>
        <li>
          The directive also exposes <code>status: Observable&lt;string&gt;</code>
          (<a routerLink="." fragment="api-status">documentation</a>.)
          This is a necessary addition &mdash; it distinguishes the
          <code>hidden</code> state (when the markup is attached to the DOM)
          and the <code>uninitialized</code> state (when it has been removed.)
        </li>
        <li>
          The <code>data-show</code> attribute has no effect. If you want to show
          a modal immediately (e.g. on the user navigating to a page) use the
          <code>ngAfterViewInit</code> hook in the containing component.
          <a routerLink="." fragment="options-show">See this example</a>.
        </li>
      </ul>

      <h6>Differences from other Bootstrap/Angular libraries</h6>
      <p>
        We use boostrap.js and its dependencies, rather than recreating
        everything from scratch. Also, in the interest of simplicity, we've
        left out a few features that are available in other Bootstrap
        modal implementations:
      </p>
      <ul>
        <li>
          There is no service that shows a modal given a Component type.
          Instead, just wrap the component (<a routerLink="." fragment="example-wrap-component">demo</a>.)
        </li>
        <li>
          The <code>show()</code> and <code>hide()</code> methods do not
          return Promises. If necessary, you can easily construct Promises
          from the directive&rsquo;s observables.
        </li>
        <li>
          We make no distinction between "success/close" and
          "cancel/dismiss."
        </li>
      </ul>
      <p class="doc-callout info">
        If you need these features out of the box, take a look at
        <a href="https://ng-bootstrap.github.io/#/components/modal/api">ng-bootstrap</a>.
      </p>
    </div>

  </section>
</section>
