<section id="quickstart">
  <h2 class="display-4">Quick Start</h2>
  <div class="text-column">
    <ul>
      <li>
        Create an <code>ng-template</code> with the selector <code>nzbModal</code>.
      </li>
      <li>
        Put Bootstrap modal markup inside this template.
      </li>
      <li>
        Use <code>#modalInstance="nzbModal"</code> in the template tag to
        grab a reference to the directive.
      </li>
      <li>
        Create a button with <code>(click)="modalInstance.show()"</code>.
      </li>
    </ul>
  </div>


  <nzb-tabs uniqueId="quickstart-tabs">
    <nav class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">Full Code</a>
      </li>
    </nav>
    <div class="tab-content nzb-demo-tab-content">
      <div nzbTabPane="demo">
        <div class="row align-items-center">
          <div class="col-md-4">
            <app-modal-quickstart-demo></app-modal-quickstart-demo>
          </div>
          <div class="col-md-8">
            <code-highlight [content]="snippet" lang="html"></code-highlight>
          </div>
        </div>

      </div>
      <div nzbTabPane="html">
        <code-highlight [content]="code" lang="html"></code-highlight>
      </div>
    </div>
  </nzb-tabs>

</section>
