<section id="quickstart">
  <h2 class="display-2">Quick Start</h2>

  <p>
    Use the <code>nzbPopover</code> selector to add a popover
    to an element.
  </p>
  <nzb-tabs uniqueId="popovers-quick-start-tabs">
    <nav class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
      <li class="nav-item">
        <a class="nav-link" nzbTab="demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="ts">.ts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nzbTab="html">.html</a>
      </li>
    </nav>
    <div class="tab-content">
      <div nzbTabPane="demo" #demoPane="nzbTabPane">
        <div *ngIf="demoPane.data?.visible">
            <app-popover-quickstart-demo></app-popover-quickstart-demo>
        </div>
      </div>
      <div nzbTabPane="ts" #tsPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-quickstart-demo.component.ts"></app-gist-embed>
      </div>
      <div nzbTabPane="html" #htmlPane="nzbTabPane">
        <app-gist-embed [gistId]="gistId" file="popover-quickstart-demo.component.html"></app-gist-embed>
      </div>
    </div>
  </nzb-tabs>
</section>
