<h1 class="display-1">Tooltips</h1>


<h2>Simple</h2>

<div class="row">
  <div class="col-md">
    <p>
      Use the <code>title</code> (or <code>data-title</code>)
      attribute with a string.
    </p>
    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip1="nzbTooltip"
        title="Static Title">Tooltip (hover)</button>
    </p>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip1"></app-tooltip-observables>
  </div>
</div>

<hr>
<h2>More Complex</h2>

<div class="row">
  <div class="col-md">
    <p>
      Use <code>ng-template</code> with <code>nzbTooltipTitle</code>
      to enable variable interpolation and the tooltip API.
    </p>
    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip2="nzbTooltip"
        [nzbTooltipTitle]="tooltip2Title">Tooltip (hover)</button>
    </p>
    <ng-template #tooltip2Title>
      Shown for {{shownFor}}s
    </ng-template>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip2"></app-tooltip-observables>
  </div>
</div>

<hr>
<h2>Options via <code>data-</code> attributes</h2>

<div class="row">
  <div class="col-md">
    <p>
      This demo sets <code>data-animation="false"</code>.
    </p>
    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip3="nzbTooltip"
        title="Static Title"
        data-animation="false">Tooltip (hover)</button>
    </p>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip3"></app-tooltip-observables>

  </div>
</div>

<hr>
<h2>Options passed via <code>nzbTooltipOptions</code></h2>

<div class="row">
  <div class="col-md">
    <p>
      This demo sets animation to false using
      <code>[nzbTooltipOptions]="{{ '{' }}animation: false{{ '}' }}"</code>.
    </p>
    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip4="nzbTooltip"
        title="Static Title"
        [nzbTooltipOptions]="{animation: false}">Tooltip (hover)</button>
    </p>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip4"></app-tooltip-observables>

  </div>
</div>

<hr>
<h2>Enable/Disable</h2>

<div class="row">
  <div class="col-md">
    <p>
      Demonstrates the
      <code>enable()</code>, <code>disable()</code> and <code>toggleEnabled()</code> methods.
    </p>

    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip5="nzbTooltip"
        title="Static Title">Tooltip (hover)</button>
    </p>
    <p>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip5.enable()"
        [disabled]="(tooltip5.enabled | async)">enable()</button>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip5.disable()"
        [disabled]="!(tooltip5.enabled | async)">disable()</button>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip5.toggleEnabled()">toggleEnabled()</button>
    </p>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip5"></app-tooltip-observables>

  </div>
</div>

<hr>
<h2>Show/Hide Programatically</h2>

<div class="row">
  <div class="col-md">
    <p>
      Demonstrates the
      <code>show()</code>, <code>hide()</code> and <code>toggle()</code> methods.
      Note that the tooltip target has <code>data-trigger="manual"</code>, so hovering
      over it will not open the tooltip.
    </p>

    <p>
      <button class="btn btn-primary"
        nzbTooltip
        #tooltip6="nzbTooltip"
        title="Static Title"
        data-trigger="manual">Tooltip (manual)</button>
    </p>
    <p>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip6.show()"
        [disabled]="(tooltip6.status | async)!=='hidden'">show()</button>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip6.hide()"
        [disabled]="(tooltip6.status | async)!=='shown'">hide()</button>
      <button class="btn btn-secondary btn-sm"
        (click)="tooltip6.toggle()">toggle()</button>
    </p>
  </div>
  <div class="col-md">
    <app-tooltip-observables [tooltip]="tooltip6"></app-tooltip-observables>

  </div>
</div>
